/* You can add global styles to this file, and also import other style files */
body {
	background-color: whitesmoke;
	font-family: sans-serif;
}

.header {
	display: flex;
	gap: 15px;
	img {
		max-width: 120px;
	}
}

.container {
	height: 100%;
	display: grid;
	place-items: center;
	grid-template-rows: 150px auto;
}
